.jumbotron {
  background: black;
  color: white; }

#board {
  background: #cfccc4;
  width: 60%;
  padding: 10px; }

.cellContainer {
  padding: 1px; }

.cell {
  width: 100%;
  padding: 1px; }

.alive {
  background: black; }

.dead {
  background: white; }

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.btn-group {
  margin: 5px;
  padding-bottom: 10px; }

.dropdown {
  margin: 5px;
  padding-bottom: 10px; }
