#board {
  background-color: #cfccc4;
  width: 60%;
  padding: 10px; }

.cell {
  width: 100%;
  background-color: gray;
  border-radius: 20%; }

.cell:after {
  content: "";
  display: block;
  padding-bottom: 100%; }

.btn-group {
  margin: 5px;
  padding-bottom: 10px; }

.dropdown {
  margin: 5px;
  padding-bottom: 10px; }
