$board-bg: rgb(207, 204, 196);

@mixin box-0 {
    padding: 0px 0px;
    margin: 0px 0px;
    border-width: 0px;
}

@mixin button-margin {
    margin: 5px;
    padding-bottom: 10px;
}

#board {
    background: $board-bg;
    width: 60%;
    padding: 10px;

    #boardContainer {
        @include box-0;
        .row {
            @include box-0;
            .container {
                @include box-0;
                .row {
                    @include box-0;
                    .cell {
                        @include box-0;
                    }
                }
            }
        }
    }
}

.cell {
    width: 100%;
    border-radius: 20%;
}

.alive {
    background: pink;
}

.dead {
    background: gray;
}
.cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.btn-group {
    @include button-margin;
}

.dropdown {
    @include button-margin;
}
