$board-bg: rgb(207, 204, 196);

@mixin button-margin {
    margin: 5px;
    padding-bottom: 10px;
}

#board {
    background-color: $board-bg;
    width: 60%;
    padding:10px;
}

.cell {
    width: 100%;
    background-color: gray;
    border-radius: 20%;
}

.cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.btn-group {
    @include button-margin;
}

.dropdown {
    @include button-margin;
}


